/*
==================================================
  App Name: Scylla Web Pattern Library
  App URI:
  Version: 0.1
  Description: A collection of front-end elements
    that make up the Scylla Group website.
  Author: The Scylla Group, Inc.
  Author URI: http://scyllagroup.com

  This collector imports all framework, settings,
  and app related SCSS files.
==================================================

INDEX:

A. NORMALIZE STYLES
B. APP SETTINGS
C. MODULES
D. MAIN STYLES
E. HELPER STYLES
F. PRINT STYLES

 */
/*
==================================================
  A. NORMALIZE STYLES

  These styles even out (normalize) the display
  of HTML elements across browsers.
==================================================
 */
/* line 2, ../_build/scss/scylla/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 2, ../_build/scss/scylla/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 2, ../_build/scss/scylla/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 2, ../_build/scss/scylla/_normalize.scss */
[hidden] {
  display: none;
}

/* line 4, ../_build/scss/scylla/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 4, ../_build/scss/scylla/_normalize.scss */
body {
  margin: 0;
  font-size: 14px;
  background: #fff;
  overflow: auto;
}

/* line 4, ../_build/scss/scylla/_normalize.scss */
body, button, input, select, textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: #6d6e71;
}

/* line 4, ../_build/scss/scylla/_normalize.scss */
::-moz-selection {
  background: #e41736;
  color: #fff;
  text-shadow: none;
}

/* line 4, ../_build/scss/scylla/_normalize.scss */
::selection {
  background: #e41736;
  color: #fff;
  text-shadow: none;
}

/* line 6, ../_build/scss/scylla/_normalize.scss */
a {
  color: #007CC1;
}

/* line 6, ../_build/scss/scylla/_normalize.scss */
a:visited {
  color: #0064b4;
}

/* line 6, ../_build/scss/scylla/_normalize.scss */
a:hover {
  color: #007CC1;
  text-decoration: none;
}

/* line 6, ../_build/scss/scylla/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 6, ../_build/scss/scylla/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
q {
  quotes: none;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
small {
  font-size: 85%;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 8, ../_build/scss/scylla/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 10, ../_build/scss/scylla/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 10, ../_build/scss/scylla/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 10, ../_build/scss/scylla/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 12, ../_build/scss/scylla/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 12, ../_build/scss/scylla/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 14, ../_build/scss/scylla/_normalize.scss */
figure {
  margin: 0;
}

/* line 16, ../_build/scss/scylla/_normalize.scss */
form {
  margin: 0;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
label {
  cursor: pointer;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
table button, table input {
  *overflow: auto;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 17, ../_build/scss/scylla/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 19, ../_build/scss/scylla/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 19, ../_build/scss/scylla/_normalize.scss */
td {
  vertical-align: top;
}

/*
==================================================
  B. APP SETTINGS

  Imports settings file for the app. This will
  contain custom settings or overrides of default
  settings loaded above this line.
==================================================
*/
/*
==================================================
  C. MODULES

  Imports each Scylla Framework module
  independently. Comment out the all modules
  import line above and uncomment the lines for
  the modules you want to import.
==================================================
 */
/* line 102, ../_build/scss/scylla/modules/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 107, ../_build/scss/scylla/modules/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 110, ../_build/scss/scylla/modules/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: "default";
}

/* line 123, ../_build/scss/scylla/modules/_global.scss */
a:hover {
  cursor: "pointer";
}

/* line 126, ../_build/scss/scylla/modules/_global.scss */
a:focus {
  outline: none;
}

/* line 131, ../_build/scss/scylla/modules/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 134, ../_build/scss/scylla/modules/_global.scss */
object,
embed {
  height: 100%;
}

/* line 135, ../_build/scss/scylla/modules/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 141, ../_build/scss/scylla/modules/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 149, ../_build/scss/scylla/modules/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 152, ../_build/scss/scylla/modules/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 162, ../_build/scss/scylla/modules/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 165, ../_build/scss/scylla/modules/_global.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 107, ../_build/scss/scylla/modules/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 80em;
  *zoom: 1;
}
/* line 26, ../_build/scss/scylla/modules/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 27, ../_build/scss/scylla/modules/_global.scss */
.row:after {
  clear: both;
}
/* line 112, ../_build/scss/scylla/modules/_grid.scss */
.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 114, ../_build/scss/scylla/modules/_grid.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 117, ../_build/scss/scylla/modules/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
/* line 26, ../_build/scss/scylla/modules/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 27, ../_build/scss/scylla/modules/_global.scss */
.row .row:after {
  clear: both;
}
/* line 118, ../_build/scss/scylla/modules/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
/* line 26, ../_build/scss/scylla/modules/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 27, ../_build/scss/scylla/modules/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 123, ../_build/scss/scylla/modules/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 128, ../_build/scss/scylla/modules/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 131, ../_build/scss/scylla/modules/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 135, ../_build/scss/scylla/modules/_grid.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 138, ../_build/scss/scylla/modules/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 139, ../_build/scss/scylla/modules/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 142, ../_build/scss/scylla/modules/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 149, ../_build/scss/scylla/modules/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 153, ../_build/scss/scylla/modules/_grid.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 157, ../_build/scss/scylla/modules/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 158, ../_build/scss/scylla/modules/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 162, ../_build/scss/scylla/modules/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 165, ../_build/scss/scylla/modules/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 172, ../_build/scss/scylla/modules/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* Foundation Visibility HTML Classes */
/* line 4, ../_build/scss/scylla/modules/_visibility.scss */
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important;
}

/* line 10, ../_build/scss/scylla/modules/_visibility.scss */
.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important;
}

/* line 16, ../_build/scss/scylla/modules/_visibility.scss */
.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
  display: inherit !important;
}

/* line 20, ../_build/scss/scylla/modules/_visibility.scss */
.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important;
}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
  /* line 25, ../_build/scss/scylla/modules/_visibility.scss */
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important;
  }

  /* line 27, ../_build/scss/scylla/modules/_visibility.scss */
  .show-for-small {
    display: none !important;
  }

  /* line 29, ../_build/scss/scylla/modules/_visibility.scss */
  .hide-for-small {
    display: inherit !important;
  }

  /* line 32, ../_build/scss/scylla/modules/_visibility.scss */
  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important;
  }
}
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {
  /* line 38, ../_build/scss/scylla/modules/_visibility.scss */
  .show-for-large,
  .show-for-large-up {
    display: inherit !important;
  }

  /* line 41, ../_build/scss/scylla/modules/_visibility.scss */
  .show-for-medium,
  .show-for-medium-down {
    display: none !important;
  }

  /* line 44, ../_build/scss/scylla/modules/_visibility.scss */
  .hide-for-medium,
  .hide-for-medium-down {
    display: inherit !important;
  }

  /* line 47, ../_build/scss/scylla/modules/_visibility.scss */
  .hide-for-large,
  .hide-for-large-up {
    display: none !important;
  }
}
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {
  /* line 52, ../_build/scss/scylla/modules/_visibility.scss */
  .show-for-xlarge {
    display: inherit !important;
  }

  /* line 55, ../_build/scss/scylla/modules/_visibility.scss */
  .show-for-large,
  .show-for-large-down {
    display: none !important;
  }

  /* line 58, ../_build/scss/scylla/modules/_visibility.scss */
  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important;
  }

  /* line 60, ../_build/scss/scylla/modules/_visibility.scss */
  .hide-for-xlarge {
    display: none !important;
  }
}
/* line 23, ../_build/scss/scylla/modules/_buttons.scss */
.button {
  position: relative;
  display: block;
  height: 26px;
  padding: 8px 18px 0;
  margin: .5em 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  color: #222222;
  text-align: center;
  text-decoration: none;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -o-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: linear-gradient(to bottom, white 0%, #f4f4f4 100%);
}

/*
==================================================
  D. MAIN STYLES

  Imports the main collector file of authored
  styles. This will contain any files outside the
  Scylla Framework.
==================================================
 */
/* line 10, ../_build/scss/_main.scss */
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
}

/* line 11, ../_build/scss/_main.scss */
.row.display .columns, .row.display .column {
  background: #e7e7e7;
  border: 1px solid #ddd;
  font-size: 13px;
  font-weight: bold;
  text-indent: 3px;
  padding-top: 8px;
  color: #444;
  padding-bottom: 8px;
}

/*
==================================================
  E. HELPER STYLES

  Import helper classes.
==================================================
 */
/* line 6, ../_build/scss/scylla/modules/_helpers.scss */
.ir {
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 7, ../_build/scss/scylla/modules/_helpers.scss */
.ir br {
  display: none;
}

/* line 10, ../_build/scss/scylla/modules/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 13, ../_build/scss/scylla/modules/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 16, ../_build/scss/scylla/modules/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 19, ../_build/scss/scylla/modules/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 22, ../_build/scss/scylla/modules/_helpers.scss */
.required {
  color: #E41736;
}

/* line 25, ../_build/scss/scylla/modules/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 26, ../_build/scss/scylla/modules/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 27, ../_build/scss/scylla/modules/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 30, ../_build/scss/scylla/modules/_helpers.scss */
.fll {
  float: left;
}

/* line 31, ../_build/scss/scylla/modules/_helpers.scss */
.flr {
  float: right;
}

/* line 34, ../_build/scss/scylla/modules/_helpers.scss */
.clf:before, .clf:after {
  content: "";
  display: table;
}

/* line 34, ../_build/scss/scylla/modules/_helpers.scss */
.clf:after {
  clear: both;
}

/* line 34, ../_build/scss/scylla/modules/_helpers.scss */
.clf {
  zoom: 1;
}

/*
==================================================
  F. PRINT STYLES

  Theses styles control the appearance of a page
  when it's printed.
==================================================
 */
@media print {
  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 2, ../_build/scss/scylla/modules/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
