# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

_build/pattern-library.sublime-workspace

_build/pattern-library.sublime-project
