// ==================================================
//  APP SETTINGS
//
//  Here we're going to set up all of variables and
//  default settings we're going to use throughout
//  the rest of the framework.
// ==================================================
//
// INDEX:
//
// A. COLORS
//


// ==================================================
//  A. COLORS
//
//  Set aliases for common colors and object colors.
// ==================================================

$gray-10: #ebebeb;
$gray-20: #d7d7d7;
$gray-30: #c2c2c2;
$gray-40: #acacac;
$gray-50: #959595;
$gray-60: #7d7d7d;
$gray-70: #636363;
$gray-80: #464646;
$gray-90: #252525;

$white: #fff;
$black: #000;

$base-font-size: 100% !default;

$base-line-height: 150% !default;

// These control various global styles
$body-bg: #fff !default;
$body-font-color: #222 !default;
$body-font-family: Arial, sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;

// Controls font-smoothing
$font-smoothing: subpixel-antialiased !default;

// Header font styles
$header-font-family: "Maven Pro", Arial, sans-serif !default;
$header-font-weight: bold !default;
$header-font-style: normal !default;
$header-font-color: #222 !default;
$header-line-height: 1.4 !default;
$header-top-margin: .2em !default;
$header-bottom-margin: .5em !default;
$header-text-rendering: optimizeLegibility !default;

// Header font sizes
$h1-font-size: emCalc(44) !default;
$h2-font-size: emCalc(37) !default;
$h3-font-size: emCalc(27) !default;
$h4-font-size: emCalc(23) !default;
$h5-font-size: emCalc(18) !default;
$h6-font-size: 1em !default;

// Set the width of the common .wrapper element
$wrapper_width: 960px;


