/*

INDEX:

-1.1 Primary Header
-1.2 Brand Logo

 */

/*
1.1 Primary Header
==================================================
 */


/*
1.2 Brand Logo
==================================================
 */

.brand-logo {
  position: fixed;
  width: 250px;
  height: 180px;
}
