/*

INDEX:

-2.1 Primary Menus
-2.2 Live Chat
-2.3 Submenus

 */


 /*
2.1 Primary Menus
==================================================
 */

.navigation-container {
  position: relative;
  width: 250px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.primary-navigation {
  @include clearfix();

  .menu {
    display: block;
    position: fixed;
    top: 180px;
    bottom: 0;
    left: 0;
    right: auto;
    width: 250px;
    padding: 0;
    margin: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    background: rgb( 220, 220, 220);
    @include box-sizing(content-box);
  }

  .menu-item {

    a {
      display: block;
      padding: 21px 2em;
      // color: $body_copy;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: rgb( 229, 24, 55);
      }

    }
  }

}

.sub-menu {
  display: none;
  position: absolute;
  right: 1px;
  border-top: 1px solid rgb( 26, 24, 24);
  background: rgb( 255, 255, 255);
  z-index: 1000;

  .menu-item {
    float: none;
    border: none;
    border-top: 1px solid rgb( 26, 24, 24);

    &:last-child {
      border-right: none;
    }
  }
}









