// ==================================================
//  BUTTONS
// ==================================================


// Button Border
$button-border: 1px solid rgb( 229, 229, 229);

// Button Radius
$button-radius: 6px;

// Button Background Mixin
@mixin button-background {
  background: rgb(255,255,255); // Old browsers
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); // FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); // Chrome,Safari4+
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); // Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); // Opera 11.10+
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); // IE10+
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); // W3C
}

.button {
  position: relative;
  display: block;
  height: 26px;
  padding: 8px 18px 0;
  margin: .5em 0;
  @include border-radius($button_radius);
  border: $button-border;
  color: $body-font-color;
  text-align: center;
  text-decoration: none;
  @include button-background;
}
